* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #1a1a2e, #16213e, #0f2f61, #004477, #0077b6, #00b4d8, #48cae4, #ade8f4);
  font-family: "Roboto", sans-serif;
  color: #fff; /* Updated text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 900px;
  width: 90%;
}

.row {
  display: flex;
}

.col-left {
  flex: 1;
}

.col-left img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter: brightness(100%);
  border-radius: 30px;
}

.col-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 60px 40px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #ade8f4;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.textbox {
  position: relative;
  margin-bottom: 20px;
}

.textbox i {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #fff; /* Updated text color */
  font-size: 20px;
}

.textbox input {
  padding: 10px 10px 10px 30px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #70d6ea;
  color: #fff; /* Updated text color */
  outline: none;
  transition: all 0.3s ease;
}

.textbox input:focus {
  border-bottom: 2px solid #fff; /* Updated focus color */
}

.login-btn {
  background-color: #70d6ea;
  color: #fff; /* Updated text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: #000;
}

.fa-user,
.fa-lock {
  color: #ade8f4;
}
.textbox input {
  color: black !important;
}

