{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
      <br>
      <br>

    <!-- ======= Contact Section ======= -->
    

    <section id="forgot-password" class="contact">
        <div class="container">
          <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
              <div class="section-title">
                <h2>Forgot Password</h2>
                <div class="row mt-5 justify-content-center" data-aos="fade-up">
                  <div class="col-lg-10">
                    <form action="forgot_password.php" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12 form-group">
                          <input type="email" name="email" class="form-control" id="email" placeholder="Enter your registered email" required>
                        </div>
                      </div>
                      <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message"></div>
                      </div>
                      <div class="text-center">
                        <button type="submit">Submit</button>
                        <button type="submit" onclick="window.location.href='{{ url_for('my_blueprint.login') }}'">Back to Login</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock %}