{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
    %}
    <br>
    <br>
    <br>
<body>
    <h1>Multi-Criteria Decision Making Form</h1>
    <form method="POST" action="">
        <table>
            <thead>
                <tr>
                    <th>Criteria</th>
                    <th>Weight (0.01-0.99)</th>
                </tr>
            </thead>
            <tbody>
                {% for criterion in criteria %}
                    <tr>
                        <td>{{ criterion }}</td>
                        <td><input type="text" name="weight" value="0.05"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
{% endblock %}
