{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
  <br>
  <br>
  <br>
  <center>
    <div class="header">

        <h1><b> Answer some questions </b></h1>
    </div>

    <form name="bookticket" action = "" method="post"  onsubmit="return validateform()" >
        <div class="user-input">

           
                       <div class="radio-buuton-header">
                <p class="p2" ><font size=5><b> <u>Cryptography,Encryption&Key Management:</u></b></font></p>
            </div>
            <div class="sourceStation-and-destinationStaion">

             
            


                <div class="sourceStation-and-destinationStaion">
</div>
             <p >Do you want the key inventory management system to track, and reports changes made to cryptographic
materials (encryption tools)?
<i class="fa fa-question-circle" ></i></p> 
  <label >
    <div class="form-check">
    <input type="radio" name="10" value="yes" >
    <font >Yes</font>
  </label>
</div>
   <div class="form-check">
  <label >
    <input type="radio"  name="10"value="no" >
    No
    
  </label>


  <p >Do you want the key inventory management system to track, and reports changes made to cryptographic
    materials (encryption tools)?
    <i class="fa fa-question-circle" ></i></p> 
      <label >
        <div class="form-check">
        <input type="radio" name="11" value="yes" >
        <font >Yes</font>
      </label>
    </div>
       <div class="form-check">
      <label >
        <input type="radio"  name="11"value="no" >
        No
        
      </label>




 

    </div>

    <p >  </i>Do you want data to be encrypted at rest
        <i class="fa fa-question-circle" ></i></p> 
<label >
<div class="form-check">
<input   type="radio"  name="12" value="yes" >
Yes
</label>
</div>
<div class="form-check">
<label >
<input type="radio" name="12"  value="no" onclick="">
No

</label>

</div>


<p >Which encryption algorithm you prefer? </p>

<label >
    <div class="form-check">
    <input   type="radio"  name="13" value="yes" >
    Yes
    </label>
    </div>
    <div class="form-check">
    <label >
    <input type="radio" name="13"  value="no" onclick="">
    No
    
    </label>
    
    </div>
        
    <p > Do you want data to be encrypted in transit?
        <i class="fa fa-question-circle" ></i></p>
        <label>
          <input type="radio"  name="14" value="yes" onclick="showAdditionalQuestion1()">
          Yes
        </label>
        </div>
        <div class="form-check">
     <label >
        <label>
           <input type="radio" name="14"  value="no" onclick="hideAdditionalQuestion1()">
           No
                
              </label>
              </div>
         
        <div id="additional-question" style="display:none;">



</div>



<br>

<center>
  <a href="{{ url_for('my_blueprint.level3_3') }}" class="buttongreen">Next</a> 
</center>
    </form>

    
<!--/.Mask-->
</header>
<!--Main Navigation-->

</center>
   <script>
  function showAdditionalQuestion() {
    document.getElementById("additional-question1").style.display = "block";
  }

  function hideAdditionalQuestion() {
    document.getElementById("additional-question1").style.display = "none";

    
  }function showAdditionalQuestion1() {
    document.getElementById("additional-question").style.display = "block";
  }

  function hideAdditionalQuestion1() {
    document.getElementById("additional-question").style.display = "none";
  }

  function showAdditionalQuestion2() {
    document.getElementById("additional-question2").style.display = "block";
  }

  function hideAdditionalQuestion2() {
    document.getElementById("additional-question2").style.display = "none";
  }

</script>
{% endblock %}
