{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
  <div class="header">
    <h2><font size=6>Answer some questions</font></h2>
  </div>
    <form name="bookticket" action = "" method="post"  onsubmit="return validateform()" >
        <div class="user-input">

            <div class="radio-buuton-header">
                
            </div>
            <div class="radio-buuton-header">
                <p class="p2" style="color:white"><font size=5><b> <u>Cryptography,Encryption&Key Management:</u></b></font></p>
            </div>
            <div class="sourceStation-and-destinationStaion">

             <p>  </i>Q1)Do you want data to be encrypted at rest?
              <i class="fa fa-question-circle" style="color:white"></i></p> 
             <select name="choices" id="source" required class="form-select">
                    
                    <optgroup label="choices">
                    <option value="Strong">Strong</option>
                    <option value="Medium">Medium</option>
                    <option value="Weak">Weak</option>

                    
                    </optgroup>
                </select>

                <br>
               

                <p>Q2)Do you want the key size of the encryption algorithm to be(Encryption at rest)
                 <i class="fa fa-question-circle" style="color:white"></i></p> 
            <select name="choices" id="source" required class="form-select">
                    
                    <optgroup label="choices">
                    <option value="Strong">Strong</option>
                    <option value="Medium">Medium</option>
                    <option value="Weak">Weak</option>

                    
                    </optgroup>
                </select>      
                <br>
 
                <br>
                <center>
                  <a href="{{ url_for('my_blueprint.level2_2') }}" class="buttongreen">Next</a>
 
                </center>
            </div>
        </div>
      <br>
      
                   
                

    </form>
    
<!--/.Mask-->
</header>
{% endblock %}
