{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
    <!-- ======= Contact Section ======= -->
    <br>
    <br>
    <section id="contact" class="contact">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <div class="section-title">
              <h2>Login</h2>
              <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                  <form action="" method="post" role="form" class="php-email-form">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                      </div>
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message"></div>
                    </div>
                      <div class="text-center">
                        <button type="submit">Login</button>
                        <button type="button" onclick="window.location.href='{{ url_for('my_blueprint.signup') }}'">Sign Up</button>
                        <button type="button" onclick="window.location.href='{{ url_for('my_blueprint.forgetpassword') }}'">Forgot Password</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
            {{session}}
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
{% endblock %}
