{% extends "adminpanelbase.html" %}
{% block title %}
  Add CSP
{% endblock %}

{% block content %}
<br>
<br>
<center>
  <main class="add-csp">
    <section class="hero">
      <div class="hero__wrapper">
        <h1 class="hero__title">Add CSP</h1>
      </div>
    </section>
    <section class="form">
      <form method="post" action="" class="php-email-form">
        <!-- Display validation errors here -->
        <div class="form__group">
          <label for="cloud_provider">Cloud Provider:</label>
          <input type="text" name="cloud_provider" id="cloud_provider" required>
        </div>
        <div class="form__group">
            <label for="Website">Website:</label>
            <input type="text" name="Website" id="Website" required>
          </div>

        <div class="form__group">
          <label for="answers">Answers:</label>
          <input type="text" name="answers" id="answers" required>
        </div>

        <div class="form__group">
          <button type="submit" class="buttongreen">Submit</button>
        </div>
      </form>
    </section>
    </center>
  </main>

{% endblock %}