<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CAB</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Company
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{{ url_for('my_blueprint.index') }}"><span>CA</span>B</a></h1>
      <img src="static/img/rsa.png" width="64" height="32" >
        <img src="static/img/miu.png" width="128" height="32" >
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{{ url_for('my_blueprint.index') }}" class="active">Home</a></li>

          
            <ul>
              
                <ul>
                  
                </ul>
              </li>
            </ul>
          </li>
          {% if session.user_type == "Admin" %}
          <li><a href="{{ url_for('my_blueprint.adminpanel') }}" class="active">Users</a></li>
          <li><a href="{{ url_for('my_blueprint.viewcsp') }}"> CSPS</a></li>
          <li><a href="{{ url_for('my_blueprint.review') }}"> Contact us application</a></li>
          <li><a href="{{ url_for('my_blueprint.Newcspadmin') }}"> Application new csp</a></li>
          
          
          {% endif %}
          {% if session.user_type == "User" %}
          <li><a href="{{ url_for('my_blueprint.about') }}">About Us</a></li>
          <li><a href="{{ url_for('my_blueprint.contact') }}">Contact us!</a></li>
          <li><a href="{{ url_for('my_blueprint.myprofile') }}">Profile</a></li>  
          <li><a href="{{ url_for('my_blueprint.csp_request') }}">Request CSP form</a></li>
          
          {% endif %}
          {% if session.user_id %}
          <li><a href="{{ url_for('my_blueprint.logout') }}">Logout</a></li>
          
          {% else %}
          
          <li><a href="{{ url_for('my_blueprint.about') }}">About Us</a></li>
          <li><a href="{{ url_for('my_blueprint.contact') }}">Contact us!</a></li>
          <li><a href="{{ url_for('my_blueprint.login') }}">Login</a></li>
          {% endif %}          


          
          
          

          

          
          
          

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      
    
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
  {% block content %}
  {% endblock %}
  <!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Company</h3>
            <p>
              Misr International University <br>
              Cairo, CA<br>
              Egypt <br><br>
              <strong>Phone:</strong> +20 100 000 0000<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('my_blueprint.index') }}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('my_blueprint.about') }}">About us</a></li>
              {% if session.user_id %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('my_blueprint.logout') }}">Logout</a></li>
            
              {% else %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('my_blueprint.login') }}">Login</a></li>
              {% endif %}
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>