{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
  <br><br><br><br>
  <div class="header">
    <h2><font size=6>Answer some questions</font></h2>
  </div>
  <!-- LEVEL 3.1 -->
  <center>
    <form name="Level3" action = "" method="post">
        <div  id="Level3.1">
            <div class="radio-buuton-header">             
            </div>
            <div class="radio-buuton-header">
                <p class="p2"><font size=5><b> <u>Cryptography,Encryption&Key Management:</u></b></font></p>
            </div>
            <div class="sourceStation-and-destinationStaion">

             <p>  </i>Do you want data to be encrypted at rest?
              <i class="fa fa-question-circle" ></i></p> 
              <label >            
                <input   type="radio"  name="5" value="yes" onclick="showAdditionalQuestion()">
                Yes            
              </label>
              <label >
                <input type="radio" name="5"  value="no" onclick="hideAdditionalQuestion()">
                No               
              </label>               
              </div>       
                <br>
                <div id="additional-question1" style="display:none;">


                  
      
      
      <div class="sourceStation-and-destinationStaion">
      

    
             <p >  </i>Which encryption algorithm do you prefer to use for generating cryptographic keys, and what key size do you want to use
         <i class="fa fa-question-circle" ></i></p> 
        <select name="choices" id="source" required class="form-select">
               
               <optgroup label="choices">
               <option value="Triple-Des 56">Triple-Des 56</option>
               <option value="AES 128">AES 128</option>
               <option value="AES 256">AES 256</option>
               </optgroup>
           </select>
          </div>
          </div>
                <p>Would you like to have the option to generate cryptographic keys using NIST protocols in your cryptographic software or application
                 <i class="fa fa-question-circle" ></i></p> 
                    
              <label >            
                <input   type="radio"  name="4" value="yes" >
                Yes            
              </label>
              <label >
                <input type="radio" name="4"  value="no" >
                No               
              </label>   
                </select>      
                <br>
                <br>

                <p>How often is the keys rotated
                  <i class="fa fa-question-circle" ></i></p> 
             <select name="choices" id="source" required class="form-select">
                     
                     <optgroup label="choices">
                     <option value="Weekly">Weekly</option>
                     <option value="Monthly">Monthly</option>
                     <option value="Bi-Monthly">Bi-Monthly</option>
                     <option value="Quarterly">Quarterly</option> 
                     <option value="Annually">Annually</option> 
                     <option value="biennial">biennial(Once every two years)</option>  

                     </optgroup>
                 </select>      
                 <br>
                 <br>







              
                <center>
                  <button class = "buttongreen" type="button" onclick="showSection('Level3.2')">Next</button>
 
                </center>
              </div>
            </div>
        </div>
      <br>
      <!-- LEVEL 3.2 -->
      <div  id="Level3.2" style="display: none">

        
        <div class="radio-buuton-header">
            <p class="p2" ><font size=5><b> <u>Data Security and Privacy Management:</u></b></font></p>
        </div>
        <div class="sourceStation-and-destinationStaion">

          <p>  </i>is the data encrypted at transit
           <i class="fa fa-question-circle" ></i></p> 
          
                 
           <label >
             
             <input   type="radio"  name="4" value="yes" onclick="showAdditionalQuestion1()">
             Yes
            
           </label>
         
         
 
            
           <label >
             <input type="radio" name="4"  value="no" onclick="hideAdditionalQuestion1()">
             No
             
           </label>
             
           </div>
     
             <br>

             <div id="additional-question" style="display:none;">


               
   
   
   <div class="sourceStation-and-destinationStaion">
   
 
          <p >  </i>Which key size do you prefer to use for generating cryptographic keys
      <i class="fa fa-question-circle" ></i></p> 
     <select name="choices" id="source" required class="form-select">
            
            <optgroup label="choices">
            <option value="2048">RSA 2048</option>
            <option value="3072">RSA 3072</option>
            <option value="4096">RSA 4096</option>
            <option value="RSA+sha256">RSA+sha256</option>

     
            
            </optgroup>
        </select>
       </div>
       </div>
   
                  
             <br>
             

             <p>When classifying the sensitivity level of your data, what level of responsibility would you like to take on for this classification
               <i class="fa fa-question-circle" ></i></p> 
          <select name="choices" id="source" required class="form-select">
                  
                  <optgroup label="choices">
                  <option value="solely responsible">solely responsible</option>
                  <option value="shared responsible">share responsibility with the Cloud Service Provider (CSP)</option>
                  <option value="CSP responsible">Cloud Service Provider (CSP) responsible</option>                  
                  </optgroup>
              </select>      
              <br>
              <br>

              <p>When conducting a data inventory, would you prefer to take sole responsibility for creating and maintaining it, or would you like to share responsibility with your Cloud Service Provider (CSP) or leave it all on the Cloud Service Provider (CSP)
                <i class="fa fa-question-circle" ></i></p> 
           <select name="choices" id="source" required class="form-select">
                   
            <optgroup label="choices">
              <option value="solely responsible">solely responsible</option>
              <option value="shared responsible">share responsibility with the Cloud Service Provider (CSP)</option>
              <option value="CSP responsible">Cloud Service Provider (CSP) responsible</option>                  
              </optgroup>
               </select>      
               <br>
               <br>

               <p>When it comes to protecting sensitive data, would you prefer to take full responsibility for ensuring its high level of protection, or would you like to share responsibility with your Cloud Service Provider (CSP) or leave it all on the Cloud Service Provider (CSP)
                <i class="fa fa-question-circle" ></i></p> 
           <select name="choices" id="source" required class="form-select">
                   
            <optgroup label="choices">
              <option value="solely responsible">solely responsible</option>
              <option value="shared responsible">share responsibility with the Cloud Service Provider (CSP)</option>
              <option value="CSP responsible">Cloud Service Provider (CSP) responsible</option>                  
              </optgroup>
               </select>      
               <br>
               <br>








           
             <center>
               <button class = "buttongreen" type="button" onclick="showSection('Level3.3')">Next</button>

             </center>
           </div>
          </div>
           </form>
         
   <br>
    
        <!-- LEVEL 3.3 -->
        <div  id="Level3.3" style="display: none">

        
          <div class="radio-buuton-header">
              <p class="p2" ><font size=5><b> <u>Infrastructure and Virtualization & Network Security:</u></b></font></p>
          </div>
          <div class="sourceStation-and-destinationStaion">

            <p>  </i>is the organization's infrastructure and virtualization environment is secured?
              <i class="fa fa-question-circle" ></i></p> 
             
                    
              <label >
                
                <input   type="radio"  name="5" value="yes" >
                Yes
               
              </label>
           
 
              <label >
                <input type="radio" name="5"  value="no" >
                No
                
              </label>

              <br>
           <br>
                
              <p>  </i>Is the organization's infrastructure and virtualization policies and procedures get updated at least annually
               <i class="fa fa-question-circle" ></i></p> 
               <select name="choices" id="source" required class="form-select">            
               <optgroup label="choices">
                <option value="Monthly">Monthly</option>
                <option value="Quarterly">Quarterly</option> 
                <option value="Half-Annually">Half-Annually</option>   
                <option value="Annually">Annually</option> 
                <option value="biennial">biennial(Once every two years)</option>  
                </optgroup>
            </select>
<br>
<br>
  
            <p>  </i>Do you want the Cloud provider's environments to be encypted
             <i class="fa fa-question-circle" ></i></p> 
            
                   
             <label >
               
               <input   type="radio"  name="10" value="yes" onclick="hideAdditionalQuestion2()">
               Yes
              
             </label>
           
           
   
              
             <label >
               <input type="radio" name="10"  value="no" onclick="showAdditionalQuestion2()">
               No
               
             </label>
               
             </div>
       
               <br>
  
               <div id="additional-question2" style="display:none;">
  
  
                 
     
     
     <div class="sourceStation-and-destinationStaion">
     
      <p>  </i>Do you want the Cloud provider's environments to be monitored
        <i class="fa fa-question-circle" ></i></p> 
       
              
        <label >
          
          <input   type="radio"  name="11" value="yes" >
          Yes
         
        </label>
     

        <label >
          <input type="radio" name="11"  value="no" >
          No
          
        </label>
     </div>
               </div>   
               <br>
               <p>How often do you want your network configuration to be reviewed
                 <i class="fa fa-question-circle" ></i></p> 
                 <select name="choices" id="source" required class="form-select">            
                  <optgroup label="choices">
                   <option value="Monthly">Monthly</option>
                   <option value="Quarterly">Quarterly</option> 
                   <option value="Half-Annually">Half-Annually</option>   
                   <option value="Annually">Annually</option> 
                   <option value="biennial">biennial(Once every two years)</option>  
                   </optgroup>
               </select>      
                <br>
                <br>
  
  
                
  
                  
  <p>  </i>Is my computer network protected from attacks by implementation of security measures
    <i class="fa fa-question-circle" ></i></p> 
   
          
    <label >
      
      <input   type="radio"  name="13" value="yes" >
      Yes
     
    </label>
  
  

     
    <label >
      <input type="radio" name="13"  value="no" >
      No
      
    </label>
  
              <br>
              <br>  
  
  
  
  
  
  
  
             
               <center>
               <button class = "buttongreen" type="submit">submit</button>
                 
  
               </center>
             </div>
            </div>
             </form>
           
     <br>
    <script>
      function showSection(sectionID) {
        // Hide all sections
        document.getElementById('Level3.1').style.display = 'none';
        document.getElementById('Level3.2').style.display = 'none';
        document.getElementById('Level3.3').style.display = 'none';
      
        // Show the requested section
        document.getElementById(sectionID).style.display = 'block';
      }      

      function showAdditionalQuestion() {
    document.getElementById("additional-question1").style.display = "block";
  }

  function hideAdditionalQuestion() {
    document.getElementById("additional-question1").style.display = "none";

    
  }function showAdditionalQuestion1() {
    document.getElementById("additional-question").style.display = "block";
  }

  function hideAdditionalQuestion1() {
    document.getElementById("additional-question").style.display = "none";
  }

  function showAdditionalQuestion2() {
    document.getElementById("additional-question2").style.display = "block";
  }

  function hideAdditionalQuestion2() {
    document.getElementById("additional-question2").style.display = "none";
  }


    </script>      
{% endblock %}
