{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
<br><br><br><br><br>
<center>
  <div class="header">
    <h2><font size=6>Answer some questions</font></h2>
  </div>
    <form name="bookticket" action = "" method="post" class="php-email-form" >
        <div class="Level1">

            <div class="radio-buuton-header">
                
            </div>
            <div class="radio-buuton-header">
                <p class="p2" ><font size=5><b><u> Encryption & Network Security:</u></b></font></p>
            </div>
            <div class="sourceStation-and-destinationStaion">
             <p>  </i>Do you want the encryption on your data at rest to be 
              <i class="fa fa-question-circle" ></i></p> 
             <select name="choices" id="source" required class="form-select">
                    <optgroup label="choices">
                    <option value="Strong1">Strong</option>
                    <option value="Medium1">Medium</option>
                    <option value="Weak1">Weak</option>
                    </optgroup>
                </select>
                <br>
                <p>Do you want the encryption on your data at transfer to be
                 <i class="fa fa-question-circle" ></i></p> 
            <select name="choices" id="source" required class="form-select">
                    
                    <optgroup label="choices">
                    <option value="Strong2">Strong</option>
                    <option value="Medium2">Medium</option>
                    <option value="Weak2">Weak</option>

                    
                    </optgroup>
                </select>      
                <br>
             <p>Do you want the infrastructure virtualization to be secured?(Being montiored and encrypted)
              <i class="fa fa-question-circle" ></i></p> 
              <select name="choices" id="source" required class="form-select">
                    
                    <optgroup label="choices">
                    <option value="Strong3">Strong</option>
                    <option value="Medium3">Medium</option>
                    <option value="Weak3">Weak</option>

                    
                    </optgroup>
                </select>
                <br>
                    <br>
                    <p>Do you prefer a cloud provider that actively identifies and addresses security  vulnerabilities,
                      conducts regular testing to ensure system security 
                       <i class="fa fa-question-circle" ></i></p> 
                      <select name="choices" id="source" required class="form-select">
                             <optgroup label="choices">
                             <option value="Strong4">Strong</option>
                             <option value="Medium4">Medium</option>
                             <option value="Weak4">Weak</option>
                             </optgroup>
                         </select>
                         <br>
                      
                     
                <center>
                  <input type="submit" value="Submit" class="buttongreen">
                </center>
                    </form>
            </div>
        </div>
        <form>
        <br>
                   
                

    </form>
</center>
    
{% endblock %}