{% extends "base.html" %} {% block title%}Login{% endblock %} {% block content
  %}
<br><br><br><br><br>
<center>
  <div class="header">
    <h2><font size=6>Answer some questions</font></h2>
  </div>
    <form name="bookticket" action = "" method="post" class="php-email-form" >
        <div class="Level1">

            <div class="radio-buuton-header">
                
            </div>
            <div class="radio-buuton-header">
                <p class="p2" ><font size=5><b><u> Encryption & Network Security:</u></b></font></p>
            </div>
            <div class="sourceStation-and-destinationStaion">
             <p>  </i>Do you want the encryption on your data at rest to be 
              <i class="fa fa-question-circle" ></i></p> 
             <select name="choices" id="source" required class="form-select">
                    <optgroup label="choices">
                    <option value="Strong">Strong</option>
                    <option value="Medium">Medium</option>
                    <option value="Weak">Weak</option>
                    </optgroup>
                </select>
                <br>
                <p>Do you want the encryption on your data at transfer to be
                 <i class="fa fa-question-circle" ></i></p> 
            <select name="choices" id="source" required class="form-select">
                    
                    <optgroup label="choices">
                    <option value="Strong">Strong</option>
                    <option value="Medium">Medium</option>
                    <option value="Weak">Weak</option>

                    
                    </optgroup>
                </select>      
                <br>
             <p>Do you want the encryption on your data at transfer to be
              <i class="fa fa-question-circle" ></i></p> 
              <select name="choices" id="source" required class="form-select">
                    
                    <optgroup label="choices">
                    <option value="Strong">Strong</option>
                    <option value="Medium">Medium</option>
                    <option value="Weak">Weak</option>

                    
                    </optgroup>
                </select>
                <br>
                <p>  </i>Do you want the encryption on your data at rest to be 
                  <i class="fa fa-question-circle" ></i></p> 
                 <select name="choices" id="source" required class="form-select">
                        <optgroup label="choices">
                        <option value="Strong">Strong</option>
                        <option value="Medium">Medium</option>
                        <option value="Weak">Weak</option>
                        </optgroup>
                    </select>
                    <br>
                    <p>Do you prefer a cloud provider that actively idenƟfies and addresses security  vulnerabilities,
                      conducts regular testing to ensure system security, and has well-defined policies for securing
                      devices?  
                       <i class="fa fa-question-circle" ></i></p> 
                      <select name="choices" id="source" required class="form-select">
                             <optgroup label="choices">
                             <option value="Strong">Strong</option>
                             <option value="Medium">Medium</option>
                             <option value="Weak">Weak</option>
                             </optgroup>
                         </select>
                         <br>
                      
                     <i class="fa fa-question-circle" ></i></p> 
                <center>
                  <input type="submit" value="Submit" class="buttongreen">
                </center>
                    </form>
            </div>
        </div>
        <form>
        <br>
                   
                

    </form>
</center>
    
{% endblock %}