{% extends "base.html" %} 
{% block title%}My Profile{% endblock %} 
{% block content %}
    <br>
    <br>
    <!-- ======= Profile Section ======= -->
    <section id="profile" class="profile">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    <div class="section-title">
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/img/user.png" class="card-img-top" id="profile-pic" height="250">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                          <center>
                            <h5>Username: {{ userdata[1] }}</h5>
                            <h5>Email: {{ userdata[2] }}</h5>
                            <button type="button" class="buttongreen" onclick="window.location.href='{{ url_for('my_blueprint.editprofile') }}'">edit profile</button>
                            <button type="button" class="buttongreen" onclick="window.location.href='{{ url_for('my_blueprint.history') }}'">Answer History</button>
                          </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Profile Section -->
{% endblock %}
